@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
}

@layer components {

  .intro-line {
    position: relative;
    width: 0;
    height: 1px;
    margin: 0 auto;
    overflow: hidden;

    background: linear-gradient(
      90deg,
      transparent,
      #b98d2f,
      #e6c46d,
      #b98d2f,
      transparent
    );

    box-shadow:
      0 0 6px rgba(212,175,55,.20),
      0 0 12px rgba(212,175,55,.10);

    animation: introLine 1.8s cubic-bezier(.22,.61,.36,1) forwards;
  }

  .intro-line::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -25%;
    width: 22%;
    height: 5px;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,.9),
      transparent
    );

    filter: blur(1px);

    animation: lineShine .9s ease 1.8s forwards;
  }

  .intro-name {
    margin-top: 26px;

    color: #f8f8f8;

    font-size: clamp(2.1rem,4vw,3.6rem);

    font-weight: 600;

    letter-spacing: .08em;

    opacity: 0;

    animation: introName 1.1s ease forwards;
    animation-delay: 1.5s;

    text-shadow:
      0 0 8px rgba(255,255,255,.05);
  }

  .intro-role {
    margin-top: 10px;

    color: #c8a13a;

    font-size: clamp(.58rem,.9vw,.75rem);

    font-weight: 500;

    letter-spacing: .55em;

    opacity: 0;

    animation: introRole .9s ease forwards;
    animation-delay: 2.3s;
  }

}

@keyframes introLine {

  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 210px;
    opacity: 1;
  }

}

@keyframes lineShine {

  from {
    left: -25%;
  }

  to {
    left: 120%;
  }

}

@keyframes introName {

  from {
    opacity: 0;
    transform: translateY(16px);
    letter-spacing: .18em;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: .08em;
  }

}

@keyframes introRole {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}